<h1>Dealerships</h1>

<% @dealerships.each do |dealership| %>
<h2><%= dealership.dealername%>
<h3>Rating: <%="#{dealership.number_of_stars_rating} Stars" %></h3>
<p>City: <%= dealership.city %></p>
<p>Leasing Available?: <%= dealership.lease_program %></p>

<% end %>
